.carasoul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.carasoul-item {
    width: 1280px;
    height: 400px;
    color: antiquewhite;
    background-color: #FF6700;
    border-radius: 16px;
    background-image: url(https://www.spotgarage.in/static/media/c1.ebaa7e5a5d37065a53ac.svg);

}
.carasoul-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px
}

.carasoul-text h1{
    font-weight: bolder;
    font-size: 40px;
}