.carasoul2-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    /* align-items: center; */
    justify-content: space-evenly;
}


@media screen and (max-width: 480px) {
    .carasoul2-container{
       flex-wrap: wrap;
       margin-top: 10px;
    }

    .carasoul2-container img{
        flex-wrap: wrap;
        margin-top: 10px;
     }
   
  }