
@media screen and (max-width: 480px) {
    .card-container{
        flex-wrap: wrap;
       
        
    }
    .card-container img{
        margin-top: 20px;
        background-size: cover;
    }
  }

  