*{
    margin: 5px;
}
.navbar {
    width: auto;
    height: 72px;
    border-radius: 3rem;
    background: #EAE7FF;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
span{
    color: #6148ff;
}

.right-nav-item {
    display: flex;
    align-items: center;
    font-weight: 2rem;
    gap: 54px;
    font-size: 18px;
}

.nav-left-item img{
    margin: auto;
}

.nav-left-item{
   margin: auto;
} 

.download-button{
        background-color: #ff6700;
       color: antiquewhite;
       padding: 6px;
       border-radius:16px;
       width: 140px;
       text-align: center;
}
