.navbar{
  
    height: 68px;
    top: 20px;
    left: 81px;
    border-radius:50px;
    background: #EAE7FF;
    display: flex;
    justify-content: space-evenly;
}
.right-Nav-item{
    display: flex;
   /* justify-content: center; */
   align-items:center ;
   gap: 54px;

}
.left-Nav-item{
    display: flex;
    align-items: center;
}

.left-Nav-item img{
   width: 30px;
   ;
}

