
.left-card{
    background-color: #C3F1FF;
    width: 630px;
    height: 400px;
    border-radius: 16px;
}

.right-card{
    background-color: #ECE9FF;
    width: 630px;
    height: 400px;
    border-radius: 16px;
    background-image: url(https://www.spotgarage.in/static/media/a2.552d9b044993b8646021.svg);
}

.top h1{
    font-size: 3rem;
    margin-top: 1rem;
    width: 30rem;
    font-weight: bold;
}

.top{
    display: flex;
    justify-content: center;
}
.left p{
    
    
    margin: 0;
    padding: 0;
}

.btn{
       background-color: #ff6700;
       color: antiquewhite;
       padding: 16px;
       border-radius: 57px;
       margin-top: 15px;
       width: 143px;
}


@media screen and (max-width: 480px) {
    .left-card{
        flex-wrap: wrap;
        margin-top: 20px;
        /* background-size: cover; */
    }
    /* .Banner-header img{
        flex-wrap: wrap;
        margin-top: 10px;
    } */
   
  }